@charset "utf-8";
/* CSS Document */

HTML {
	font-family: verdana,arial,helvetica,sans-serif;
	background: black;
	color: white;
	height: 100%;
	width: 100%;
	text-align: center;
}

#content button {
	font-family: verdana,arial,helvetica,sans-serif;
	color: white;
	background: transparent;
	border: none;
}

/*Header*/
header, header img {
	font-family: "Bauhaus LT Light";
	font-size: 3vw;
	display: flex;
	line-height: 0;
	justify-content: space-between;
	align-items: center;
	border-radius: 100%;
	padding:0.5vw;
}

header h1 {
	font-size: 10vw;
}

/*Nav*/
nav, nav a {
	padding-top:0.1vw; padding-bottom:0.1vw;
	background: white;
	color: black;
	text-decoration: none;
	text-align: center;
	word-spacing: 2vw;
	font-size: 1vw;
}

/*Body*/
.content {
	margin-left:10vw; margin-right:10vw;
}

#lastName:hover span {display:none;}
#lastName:hover span:before {content:"Harding";}

/*Footer*/
footer {
	background: white;
	color: black;
	position: absolute;
		bottom: 0;
		right: 0;
	width: 100%;
}
